* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#root {
	width: 100%;
	height: 100%;
	background-image: url('./static/images/Cornered-Stairs.svg');
	background-size: cover;
	background-repeat: no-repeat;
}
#App {
	background-image: url('./static/images/Cornered-Stairs.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.App {
	width: 100%;
	height: 100%;
}
ul label {
	width: 100%;
}

/*?NAVBAR*/
/*!NAVBAR*/

.App .navbar {
}

/*?HOME*/
/*!HOME*/

/*?OPACITY*/
.opacity-0 {
	opacity: 0 !important;
}
.opacity-1 {
	opacity: 0.2 !important;
}
.opacity-2 {
	opacity: 0.4 !important;
}
.opacity-3 {
	opacity: 0.6 !important;
}
.opacity-4 {
	opacity: 0.8 !important;
}
.opacity-5 {
	opacity: 1 !important;
}

/* Maybe even support hover opacity shifts */
.opacity-0h5 {
	opacity: 0 !important;
	transition: opacity 0.25s ease-in-out !important;
	-moz-transition: opacity 0.25s ease-in-out !important;
	-webkit-transition: opacity 0.25s ease-in-out !important;
}
.opacity-0h5:hover {
	opacity: 1 !important;
}

.opacity-3h5 {
	opacity: 0.6 !important;
	transition: opacity 0.25s ease-in-out !important;
	-moz-transition: opacity 0.25s ease-in-out !important;
	-webkit-transition: opacity 0.25s ease-in-out !important;
}
.opacity-3h5:hover {
	opacity: 1 !important;
}

/*PADDING UL OL*/
